//control buttons

button[type="submit"] {
  border: none;
  background: rgba(10, 150, 150, 1);
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 3px 2px 9px -4px black;
}

.button {
  border: none;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 3px 2px 9px -4px black;

  &__green {
    background: rgba(10, 150, 150, 1);
  }

  &__red {
    background: rgba(169, 11, 11, 1);
  }

  &__gray {
    background: #d3d3d3;
    font-size: 14px;
  }
}

//navigate buttons

.button-navigate {
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  margin: 0 8px;

  &__primary {
    background: #efefef;
    color: #444;
    box-shadow: -4px -4px 12px rgba(255, 255, 255, .7),
    -4px -4px 10px rgba(255, 255, 255, .5),
    4px 4px 6px rgba(255, 255, 255, .075),
    4px 4px 8px rgba(0, 0, 0, .15);

    &:hover {
      box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
      -2px -2px 4px rgba(255, 255, 255, .4),
      2px 2px 2px rgba(255, 255, 255, .05),
      2px 2px 4px rgba(0, 0, 0, .1);
    }

    &:active {
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
      inset -2px -2px 4px rgba(255, 255, 255, .5),
      inset 2px 2px 2px rgba(255, 255, 255, .075),
      inset 2px 2px 4px rgba(0, 0, 0, .15);
    }
  }
}
