.deleted-items {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #d3d3d34a;
  width: 300px;
  margin: 0 20px;
  border-radius: 12px;
  padding: 24px;

  @media screen and (max-width: 600px) {
    padding-top: 36px;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    margin-top: 36px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}