body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../Pictures/background-main.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-list {
  backdrop-filter: blur(10px);
  width: 300px;
  margin: 0 20px;
  border-radius: 12px;

  @media screen and (max-width: 600px) {
    padding-top: 50px;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    margin-top: 36px;
  }
}

input[name="item"] {
  border: none;
  background: #d3d3d3;
  padding: 8px 8px;
  width: 100%;
  border-radius: 8px;
  color: #747474;
  font-family: "Raleway", serif;

  &:focus-visible {
    outline: 1px solid #747474;
  }

  &::placeholder {
    color: #fff;
    opacity: 1;
  }

}

button[type="submit"] {
  border: none;
  background: rgba(10, 150, 150, 0.44);
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 3px 2px 9px -4px black;
}

.button {
  border: none;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 3px 2px 9px -4px black;

  &__cross {
    background: rgba(10, 150, 150, 0.44);
  }

  &__remove {
    background: rgba(169, 11, 11, 0.68);
  }

  &__edit {
    background: #d3d3d3;
    font-size: 14px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @media screen and (max-width: 600px) {
    &-form {
      padding: 0 12px !important;
    }

    padding: 0 12px;
  }

  @media screen and (min-width: 600px) {
    &-form {
      padding: 0 24px;
    }
  }

  padding: 0 24px;

  &-form form {
    display: flex;
    margin-bottom: 24px;
    position: relative;
  }

  &-name {
    //width: 75%;
  }

  &-controls {
    //width: 25%;
    display: flex;
    justify-content: space-between;
  }

  &-name {
    text-transform: capitalize;
    color: #747474;
    display: flex;
    align-items: center;
  }

  &-name.crossed {
    text-decoration: line-through
  }
}

#message {
  &__error {
    color: rgba(169, 11, 11, 0.68);
    position: absolute;
    top: 36px;
    font-size: 14px;
  }
}