//Light 300
//Regular 400
//Medium 500
//SemiBold 600
//Bold 700
//ExtraBold 800

@font-face {
  font-family: "Raleway";
  src: url("../../Fonts/static/Raleway-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}